.search-container {
    margin-bottom: 20px;
}
button {
    padding: 8px 15px;
    background-color: rgb(6, 125, 98);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.search-icon {
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.pro {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 5px rgba(188, 188, 190, 0.4); 
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

.product h3 {
    margin-top: 0;
}

.product p {
    margin: 5px 0;
}
body{
    background-image: url("compute-ea4c57a4 (1).png");
    color: white;
}
.searchElement{
    display: flex;
    justify-content: center;
    background-color: #0d121f;
    gap: 20px;
    min-height: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    position: relative;
}
#searchResults{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    min-height: 700px;
    width: 80%;
    padding: 30px;
}
.blobBox{
    box-shadow: 0 0 50px 5px rgba(188, 188, 190, 0.4); 
    border-radius: 20px;
    height: 270px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blobBox p{
    z-index: 2;
}
.blob1{
    position: absolute;
    left: -60px;
    top: -60px;
    height: 300px;
    width: 300px;
}
.blob2{
    position: absolute;
    left: 200px;
    top: 40px;
    height: 300px;
    width: 300px;
}
.blob3{
    position: absolute;
    left: 400px;
    top: -70px;
    height: 300px;
    width: 300px;
}
.blob4{
    position: absolute;
    left: 650px;
    top: 40px;
    height: 300px;
    width: 300px;
}
.filters{
    border: 1px solid rgb(153, 152, 152);
    /*box-shadow: 0 0 10px 10px rgba(188, 188, 190, 0.4);*/ 
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: aqua;
    height: 700px;
    width: 20%;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.category{
    color: white;
    padding: 0 20px;
    font-size: 17px;
    padding-top: 5px;
}
.DandD{
    color: white;
    padding: 0 20px;
    font-size: 17px;
    padding-top: 5px;
}
.DandD ul input{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    border: 1.5px solid rgb(153, 152, 152);
    cursor: pointer;
}
.DandD ul div{
    display: flex;
    align-items: center;
}
.DandD ul div:hover{
    color: #f19b1a;
    cursor: pointer;
}
input[type = "checkbox"]:checked{
    border: 2px solid white;
    border-radius: 50%;
    background-color:  rgb(112, 16, 16);
}
.discount-list{
    display: none;
    margin-top: 0;
}
.discount{
    background-color: transparent;
    border: none;
    font-size: 17px;
}
.deals{
    background-color: transparent;
    border: none;
    font-size: 17px;
}
.discount:hover{
    color: #f19b1a;
}
.deals:hover{
    color: #f19b1a;
}
.price-range{
    color: white;
    padding: 0 20px;
    font-size: 17px;
    padding-top: 5px;
}
.range-slider{
    padding-left: 20px;
}
.range-slider input{
    width: 250px;
}
.img{
    height: 170px;
    width: 200px;
}
.details{
    text-align: left;
}
.data{
    font-size: 21px;
    font-family: 'Poppins',sans-serif;
}  
.rateimg{
    margin-top: 3px;
    height: 20px;
    width: 95px;
}
.pricedata{
    font-size: xx-large;
    color: rgb(112, 16, 16);
}
.quantitydata{
    margin-bottom: 5px;
}
.powered{
    position: absolute;
    left: 50%;
    bottom: 3%;
    color: rgb(153, 152, 152);
}

